    

    <div  class ="img-contains" >

        <img class="img-fluid img-back" src="http://www.facenet.org/wp-content/themes/executive/assets/images/header.jpg" width="100%" height="520" >
        
        <div>
            <div class="container mb-5" >
                <div class="row">
                    <div>
                        <h2 class="display-4">Welcome</h2>
                        <hr class="bg-dark w-25 ml-0">
                        <p  class="lead" >
                        ChargeBack Calculation (CBC) is a system used for determining portfolio transaction costs driven by client cash flows, and to charge those costs back to the appropriate clients. Charge back is calculated by the Bank Representative at the time of buying or selling a stock for a client or for a fund (fund is a group of clients, they can be from different countries) irrespective of profit or loss.
                        </p>
                    </div>
                </div>
            </div>

            <br/><br/><br/>
            <div class="container container mt-4 mb-5">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card" align="center">
                            <img class="card-img-top" src="https://genomics.tamu.edu/public/assets/uploads/2016/10/TIGSS_Cluster_Account_Stock_Photo.png"  width="100" height="100" >
                            <div class="card-block p-3" >
                                <h4 class="card-title" > Individual User</h4>
            
                                <a routerLink="/login"><button class="btn btn-primary" >Login</button></a>
                                <a routerLink="/register"><button class="btn btn-primary" >Register</button></a>                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" align="center">
                            <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Conferences.svg/200px-Conferences.svg.png" width="100" height="100" >
                            <div class="card-block p-3">
                                <h4 class="card-title"> Fund User</h4>
                                <a routerLink="/login"><button class="btn btn-primary" >Login</button></a>
                                <a routerLink="/register"><button class="btn btn-primary" >Register</button></a>                      
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card" align="center">
                            <img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/profession-avatar-solid-2/48/54-512.png" width="100" height="100">
                            <div class="card-block p-3">
                                <h4 class="card-title" > Bank Representative</h4>
                                <a routerLink="/adminlogin"><button class="btn btn-primary" >Login</button></a>
                               
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <hr class="bg-white mx-4 mt-2 mb-1"> -->
