<a  routerLink='/home' class="pull-right"><button class="btn btn-primary" >LogOut</button></a>
<div class="panel panel-primary container" align="center">
        <a><button class="btn btn-primary" (click)="buy()" >Buy</button></a>
        <a><button class="btn btn-primary" (click)="sell()">Sell</button></a>
        <h3 align="right"> Trading for: {{user.firstName}}</h3>
        <h3 align="right"> Current Balance:${{user.balance}}</h3>
        
    <div class="panel-heading">
        Client Information
    </div>
    <div class="panel-body" *ngIf="stockList">
      <div class="table-responsive">
       
          <table class="table">
              <thead>
                <tr>
                  <th>Index</th>
                  <th>Stock Name</th>
                  <th>Stock Price</th>
                  <th>Quantity</th>
                  <th>Charge Back</th>
                  <th>!!It's Time!!</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let stock of stockList; index as i">
                  <td>{{i+1}}</td>
                    <td>{{stock.name}}</td>
                    <td>{{stock.price}}</td>
                    <td><input type="number" #quantity [(ngModel)]="quantities[i]" (keyup)="calculateChargeBack(quantities[i],stock.price,i)"></td>
                    <td>{{chargeBack[i]}}</td>
                    <td><button type="btn btn-primary" (click)="commitBuy(stock,quantities[i],i)">Buy</button></td>
                </tr>
              </tbody>
  
          </table>
      </div>
        
    </div>


    <div class="panel-body" *ngIf="transactionList">
      <div class="table-responsive">
       
           <table class="table">
              <thead>
                <tr>
                  <th>Transaction Id</th>
                  <th>Stock Name</th>
                  <th>Stock Price</th>
                  <th>Quantity</th>
                  <th>CurrentPrice</th>
                   <th>Charge Back</th>
                  <th>!!It's Time!!</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let transxn of transactionList;  index as i">
                  
                    <td>{{transxn.transactionId}}</td>
                    <td>{{transxn.stockName}}</td>
                    <td>{{transxn.stockPrice}}</td>
                    <td>{{transxn.quantity}}</td>
                    <td><input type="number" #currentPrice [(ngModel)]="currentPrices[i]" (keyup)="calculateChargeBackForSell(currentPrices[i],transxn.quantity,i)"></td>
                    <td>{{chargeBackForSell[i]}}</td>
                    <td><button type="btn btn-primary" (click)="commitSell(transxn,i)">Sell</button></td>
                    
                </tr>
              </tbody>
  
          </table>
      </div>
        
    </div>
        
  </div>